# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
*.lock

# Android related
android/.gradle/
android/app/*.iml
android/local.properties
android/.idea/

# iOS related
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# VS Code / IDE
.vscode/
*.iml
.idea/
